<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaybeeBump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2700F5341E7E215C00612E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2700F54A1E7E215D00612E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2700F5551E7E215D00612E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
